{% extends "layout.html" %}
{% load timeutils %}
{% load linkutils %}
{% load pathutils %}

{% block repoHeader %}
<b>Repository:</b> <a href="{% url gitview.views.commits %}?path={{ repoPath }}&branch={{branch}}">/{{ repoPath }}</a>
{%endblock %}

{% block contentBlock %}
<table  style="width:100%;" cellpadding="2px;" class="commitTable">
	<tr>
		<th colspan="2">
			{{commit.message|issueLink|safe|linebreaks}}
		</th>
	</tr>
	<tr>
		<td>
			<b>Id:</b>	{{commit.id}}<br/>
			<b>Parents:</b>
				{% for par in commit.parents %}
					<a href="{%url gitview.views.commit%}?path={{repoPath}}&id={{par}}">{{par}}</a>
				{% endfor %}<br/>
			<b>Author:</b> {{commit.author}}<br/>
			<b>Commit Date:</b>	{{commit.commit_time|timestamp:'%Y-%m-%d %H:%M'}}<br/>
			<b>Committer:</b> {{commit.committer}}<br/>
			{% if commit.getTags %}
				<b>Tag:</b> <span class="tag">{% for tag in commit.getTags %} {{tag.name}}</span> {%endfor%}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th colspan="2" style="padding:2px; text-align:right;">
			<a href="{% url gitview.fileViews.tree%}?path={{repoPath}}&commit={{commit.id}}" title="File Tree"><img src="/static/images/file_tree.png" title="File Tree"/></a>
			<a href="{% url gitview.fileViews.zipTree%}?path={{repoPath}}&commit={{commit.id}}" title="Zip Tree"><img src="/static/images/archive.png" border="0" title="Zip Tree"  /></a>
			<a href="{%url gitview.views.graph %}?path={{repoPath}}&branch={{branch}}&since={{since|default_if_none:''}}&until={{until|default_if_none:''}}&id={{commit.id}}"><img src="/static/images/point.png" height="22px" width="22px" border="0" title="Show in the graph"/></a>
		</th>
	</tr>
</table>
<br/>

{%for change in changes%}
<table class="gridTable" width="100%">
	{% if change.oldFileName and change.newFileName %}
		<tr>
			<th nowrap="nowrap" style="width:150px;text-align:center;">
				<script>
					$(function(){
						$('#{{change.newSha}}_showBtn').click(function(){
							$.get("{%url gitview.fileViews.diff %}",{
								path:"{{repoPath}}",
								commit:"{{commit.id}}",
								oldSha:"{{change.oldSha}}",
								oldFileName:"{{change.oldFileName}}",
								newFileName:"{{change.newFileName}}",
								newSha:"{{change.newSha}}"
							},
							function(html){
								$('#{{change.newSha}}_diff').html(html);
								$('#{{change.newSha}}_diff').toggle('blind',300);	
							});
						});
						$('#{{change.newSha}}_ghshowBtn').click(function(){
							$.get("{%url gitview.fileViews.diff %}",{
								path:"{{repoPath}}",
								commit:"{{commit.id}}",
								oldSha:"{{change.oldSha}}",
								oldFileName:"{{change.oldFileName}}",
								newFileName:"{{change.newFileName}}",
								newSha:"{{change.newSha}}",
								ghDiff:"1"
							},
							function(html){
								$('#{{change.newSha}}_ghdiff').html(html);
								$('#{{change.newSha}}_ghdiff').toggle('blind',300);	
							});
						});
					});
				</script>
				<input type="button" id="{{change.newSha}}_ghshowBtn" value="GHDiff"/>&nbsp;<input type="button" id="{{change.newSha}}_showBtn" value="Diff"/>
			</th>
			<th style="text-align:left;">&nbsp;
				{% if change.oldFileName == change.newFileName %}
					<a href="{%url gitview.fileViews.view %}?path={{repoPath}}&commit={{commit.id}}&filePath={{change.oldFileName}}&branch={{branch}}">
						{{change.oldFileName}}</a>
				{% else %}
					{{change.oldFileName}} -> <a href="{%url gitview.fileViews.view %}?path={{repoPath}}&commit={{commit.id}}&filePath={{change.newFileName}}&branch={{branch}}">{{change.newFileName}}</a>
				{% endif %}
			</th>
		</tr>
		<tr>
			<td colspan="2">
				<div id="{{change.newSha}}_diff" style="display:none;background-color:#EEEEEE;overflow: auto;"></div>
				<div id="{{change.newSha}}_ghdiff" style="display:none;background-color:#EEEEEE;overflow: auto;"></div>
			</td>
		</tr>
	{% else %}
		{% if change.newFileName == None %}
			<tr><th style="text-align:left;">&nbsp;<span class="gd">deleted</span> {{change.oldFileName}}</th></tr>
		{% else %}
			<tr><th style="text-align:left;">&nbsp;<span class="gi">created</span> <a href="{%url gitview.fileViews.view %}?path={{repoPath}}&commit={{commit.id}}&filePath={{change.newFileName}}">{{change.newFileName}}</a></th></tr>
		{% endif %}
	{% endif %}
</table>
{% endfor %}

{% endblock %}