{% extends "layout.html" %}
{% load timeutils %}
{% load linkutils %}
{% load pathutils %}
{% load gravatar %}

{% block repoHeader %}
<b>Repository:</b> <a href="{% url gitview.views.commits %}?path={{ repoPath }}&branch={{branch}}">/{{ repoPath }}</a>
{%endblock %}

{% block contentBlock %}
<table  style="width:100%;" cellpadding="2px;" class="commitTable">
	<tr>
		<th colspan="2">
			{{commit.commit.message|issueLink|safe|linebreaks}}
		</th>
	</tr>
	<tr>
		<td rowspan="2" style="width: 64px;height:64px;">
		<img style="vertical-align:middle;" src="{{commit.commit.author.email|gravatarImageUrl:64}}"/>
		</td>
	</tr>
	<tr>
		<td>
			<b>Id:</b>	{{commit.commit.hexsha}}<br/>
			<b>Parents:</b>
				{% for par in commit.commit.parents %}
					<a href="{%url gitview.views.commit%}?path={{repoPath}}&id={{par}}">{{par}}</a>
				{% endfor %}<br/>
			<b>Author:</b> {{commit.commit.author.name}} &lt;{{commit.commit.author.email}}&gt; <br/>
			<b>Commit Date:</b>	{{commit.commit.committed_date|timestamp:'%Y-%m-%d %H:%M'}}<br/>
			<b>Committer:</b>{{commit.commit.committer}}<br/>
			{% if commit.getTags %}
				<b>Tag:</b> {% for tag in commit.getTags %} <span class="tag"> {{tag}}</span> {%endfor%}
			{% endif %}
		</td>
	</tr>
	<tr>
		<th colspan="2" style="padding:2px; text-align:right;">
			<a href="{% url gitview.fileViews.tree%}?path={{repoPath}}&commit={{commit.id}}" title="File Tree"><img src="/static/images/file_tree.png" title="File Tree"/></a>
			<a href="{% url gitview.fileViews.zipTree%}?path={{repoPath}}&commit={{commit.id}}" title="Zip Tree"><img src="/static/images/archive.png" border="0" title="Zip Tree"  /></a>
			<a href="{%url gitview.views.graph %}?path={{repoPath}}&branch={{branch}}&since={{since|default_if_none:''}}&until={{until|default_if_none:''}}&id={{commit.commit.hexsha}}"><img src="/static/images/point.png" height="22px" width="22px" border="0" title="Show in the graph"/></a>
		</th>
	</tr>
</table>
<br/>

{%for change in changes%}
<table class="gridTable" width="100%">
	{% if not change.deleted_file and not change.new_file %}
		<tr>
			<th nowrap="nowrap" style="width:150px;text-align:center;">
				<script>
					$(function(){
						//diff call
						$('#{{change.a_blob.hexsha}}_showBtn').click(function(){
							$.get("{%url gitview.fileViews.diff %}",{
								path:"{{repoPath}}",
								commit:"{{commit.commit.hexsha}}",
								oldSha:"{{change.a_blob.hexsha}}",
								newSha:"{{change.b_blob.hexsha}}"
							},
							function(html){
								$('#{{change.a_blob.hexsha}}_diff').html(html);
								$('#{{change.a_blob.hexsha}}_diff').toggle('blind',300);	
							});
						});
						//GHDiff Call
						$('#{{change.a_blob.hexsha}}_ghshowBtn').click(function(){
							$.get("{%url gitview.fileViews.diff %}",{
								path:"{{repoPath}}",
								commit:"{{commit.commit.hexsha}}",
								oldSha:"{{change.a_blob.hexsha}}",
								newSha:"{{change.b_blob.hexsha}}",
								ghDiff:"1"
							},
							function(html){
								$('#{{change.a_blob.hexsha}}_ghdiff').html(html);
								$('#{{change.a_blob.hexsha}}_ghdiff').toggle('blind',300);	
							});
						});
					});
				</script>
				<input type="button" id="{{change.a_blob.hexsha}}_ghshowBtn" value="GHDiff"/>&nbsp;<input type="button" id="{{change.a_blob.hexsha}}_showBtn" value="Diff"/>
			</th>
			<th style="text-align:left;">&nbsp;
				{% if not change.renamed %}
					<a href="{%url gitview.fileViews.view %}?path={{repoPath}}&commit={{commit.commit.hexsha}}&filePath={{change.a_blob.path}}&branch={{branch}}">
						{{change.a_blob.path}}</a>
				{% else %}
					{{change.renamed_from}} -> <a href="{%url gitview.fileViews.view %}?path={{repoPath}}&commit={{commit.commit.hexsha}}&filePath={{change.a_blob.path}}&branch={{branch}}">{{change.renamed_to}}</a>
				{% endif %}
			</th>
		</tr>
		<tr>
			<td colspan="2">
				<div id="{{change.a_blob.hexsha}}_diff" style="display:none;background-color:#EEEEEE;overflow: auto;"></div>
				<div id="{{change.a_blob.hexsha}}_ghdiff" style="display:none;background-color:#EEEEEE;overflow: auto;"></div>
			</td>
		</tr>
	{% else %}
		{% if change.deleted_file  %}
			<tr><th style="text-align:left;">&nbsp;<span class="gd">deleted</span> {{change.a_blob.path}}</th></tr>
		{% else %}
			<tr><th style="text-align:left;">&nbsp;<span class="gi">created</span> <a href="{%url gitview.fileViews.view %}?path={{repoPath}}&commit={{commit.commit.hexsha}}&filePath={{change.b_blob.path}}">{{change.b_blob.path}}</a></th></tr>
		{% endif %}
	{% endif %}
</table>
{% endfor %}

{% endblock %}
