{% extends "layout.html" %}
{% load timeutils %}
{% load highlight %}

{% block repoHeader %}
<b>Repository path:</b>{{ repoPath }} (<a href="{%url "gitview.views.commits"%}?path={{repoPath}}">commits</a>)
{% endblock %}

{% block contentBlock %}
<table width="100%">
	<tr>
		<td>
			<table  style="width:100%;" cellpadding="2px;" class="commitTable">
				<tr>
					<th colspan="2">
						{{commit1.commit.message|linebreaks}}
					</th>
				</tr>
				<tr>
					<td>
						<b>Id:</b> <a href="{%url "gitview.views.commit"%}?path={{repoPath}}&id={{commit1.commit.hexsha}}">{{commit1.commit.hexsha}}</a><br/>
						<b>Parents:</b>
							{% for par in commit1.commit.parents %}
								<a href="{%url "gitview.views.commit"%}?path={{repoPath}}&id={{par.hexsha}}">{{par.hexsha}}</a>
							{% endfor %}<br/>
						<b>Author:</b> {{commit1.commit.author.name}} &lt;{{commit1.commit.author.email}}&gt;<br/>
						<b>Commit Date:</b>	{{commit1.commit.committed_date|timestamp:'%Y-%m-%d %H:%M'}}<br/>
						<b>Committer:</b> {{commit1.commit.committer}}<br/>
						{% if commit1.getTags %}
							<b>Tag:</b> <span class="tag">{% for tag in commit1.getTags %} {{tag}}</span> {%endfor%}
						{% endif %}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table  style="width:100%;" cellpadding="2px;" class="commitTable">
				<tr>
					<th colspan="2">
						{{commit2.commit.message|linebreaks}}
					</th>
				</tr>
				<tr>
					<td>
						<b>Id:</b> <a href="{%url "gitview.views.commit"%}?path={{repoPath}}&id={{commit2.commit.hexsha}}">{{commit2.commit.hexsha}}</a><br/>
						<b>Parents:</b>
							{% for par in commit2.commit.parents %}
								<a href="{%url "gitview.views.commit"%}?path={{repoPath}}&id={{par.hexsha}}">{{par.hexsha}}</a>
							{% endfor %}<br/>
						<b>Author:</b> {{commit2.commit.author.name}} &lt;{{commit2.commit.author.email}}&gt;<br/><br/>
						<b>Commit Date:</b>	{{commit2.commit.committed_date|timestamp:'%Y-%m-%d %H:%M'}}<br/>
						<b>Committer:</b> {{commit2.commit.committer}}<br/>
						{% if commit2.getTags %}
							<b>Tag:</b> <span class="tag">{% for tag in commit2.getTags %} {{tag}}</span> {%endfor%}
						{% endif %}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br/>

{%for change in changes%}
<table class="gridTable" width="100%">
	{% if not change.deleted_file and not change.new_file %}
		<tr>
			<th nowrap="nowrap" style="width:150px;text-align:center;">
				<script>
					$(function(){
						//diff call
						$('#{{change.a_blob.hexsha}}_showBtn').click(function(){
							$.get("{%url "gitview.fileViews.diff" %}",{
								path:"{{repoPath}}",
								commit:"{{commit.commit.hexsha}}",
								oldSha:"{{change.a_blob.hexsha}}",
								newSha:"{{change.b_blob.hexsha}}"
							},
							function(html){
								$('#{{change.a_blob.hexsha}}_diff').html(html);
								$('#{{change.a_blob.hexsha}}_diff').toggle('blind',300);	
							});
						});
						//GHDiff Call
						$('#{{change.a_blob.hexsha}}_ghshowBtn').click(function(){
							$.get("{%url "gitview.fileViews.diff" %}",{
								path:"{{repoPath}}",
								commit:"{{commit.commit.hexsha}}",
								oldSha:"{{change.a_blob.hexsha}}",
								newSha:"{{change.b_blob.hexsha}}",
								ghDiff:"1"
							},
							function(html){
								$('#{{change.a_blob.hexsha}}_ghdiff').html(html);
								$('#{{change.a_blob.hexsha}}_ghdiff').toggle('blind',300);	
							});
						});
					});
				</script>
				<input type="button" id="{{change.a_blob.hexsha}}_ghshowBtn" value="GHDiff"/>&nbsp;<input type="button" id="{{change.a_blob.hexsha}}_showBtn" value="Diff"/>
			</th>
			<th style="text-align:left;">&nbsp;
				{% if not change.renamed %}
						{{change.a_blob.path}}
				{% else %}
					{{change.renamed_from}} -> {{change.renamed_to}}
				{% endif %}
			</th>
		</tr>
		<tr>
			<td colspan="2">
				<div id="{{change.a_blob.hexsha}}_diff" style="display:none;background-color:#EEEEEE;overflow: auto;"></div>
				<div id="{{change.a_blob.hexsha}}_ghdiff" style="display:none;background-color:#EEEEEE;overflow: auto;"></div>
			</td>
		</tr>
	{% else %}
		{% if change.deleted_file  %}
			<tr><th style="text-align:left;">&nbsp;<span class="gd">deleted</span> {{change.a_blob.path}}</th></tr>
		{% else %}
			<tr><th style="text-align:left;">&nbsp;<span class="gi">created</span> <a href="{%url "gitview.fileViews.view" %}?path={{repoPath}}&commit={{commit1.commit.hexsha}}&filePath={{change.b_blob.path}}">{{change.b_blob.path}}</a></th></tr>
		{% endif %}
	{% endif %}
</table>
{% endfor %}


{% endblock %}