{% extends "layout.html" %}
{% load timeutils %}
{% load highlight %}


{% block repoHeader %}
<b>Repository path:</b>{{ repoPath }} (<a href="{%url gitview.views.commits%}?path={{repoPath}}">commits</a>)
{% endblock %}

{% block contentBlock %}
<table width="100%">
	<tr>
		<td>
			<table  style="width:100%;" cellpadding="2px;" class="commitTable">
				<tr>
					<th colspan="2">
						{{commit1.message|linebreaks}}
					</th>
				</tr>
				<tr>
					<td>
						<b>Id:</b> <a href="{%url gitview.views.commit%}?path={{repoPath}}&id={{commit1.id}}">{{commit1.id}}</a><br/>
						<b>Parents:</b>
							{% for par in commit1.parents %}
								<a href="{%url gitview.views.commit%}?path={{repoPath}}&id={{par}}">{{par}}</a>
							{% endfor %}<br/>
						<b>Author:</b> {{commit1.author}}<br/>
						<b>Commit Date:</b>	{{commit1.commit_time|timestamp:'%Y-%m-%d %H:%M'}}<br/>
						<b>Committer:</b> {{commit1.committer}}<br/>
						{% if commit1.getTags %}
							<b>Tag:</b> <span class="tag">{% for tag in commit1.getTags %} {{tag}}</span> {%endfor%}
						{% endif %}
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table  style="width:100%;" cellpadding="2px;" class="commitTable">
				<tr>
					<th colspan="2">
						{{commit2.message|linebreaks}}
					</th>
				</tr>
				<tr>
					<td>
						<b>Id:</b> <a href="{%url gitview.views.commit%}?path={{repoPath}}&id={{commit2.id}}">{{commit2.id}}</a><br/>
						<b>Parents:</b>
							{% for par in commit2.parents %}
								<a href="{%url gitview.views.commit%}?path={{repoPath}}&id={{par}}">{{par}}</a>
							{% endfor %}<br/>
						<b>Author:</b> {{commit2.author}}<br/>
						<b>Commit Date:</b>	{{commit2.commit_time|timestamp:'%Y-%m-%d %H:%M'}}<br/>
						<b>Committer:</b> {{commit2.committer}}<br/>
						{% if commit2.getTags %}
							<b>Tag:</b> <span class="tag">{% for tag in commit2.getTags %} {{tag}}</span> {%endfor%}
						{% endif %}
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br/>

{%for change in changes%}
<table class="gridTable" width="100%">
	{% if change.oldFileName and change.newFileName %}
		<tr>
			<th nowrap="nowrap" style="width:150px;text-align:center;">
				<script>
					$(function(){
						$('#{{change.newSha}}_showBtn').click(function(){
							$('#{{change.newSha}}_diff').toggle('blind',300);
						});
						$('#{{change.newSha}}_ghshowBtn').click(function(){
							$('#{{change.newSha}}_ghdiff').toggle('blind',300);
						});
					});
				</script>
				<input type="button" id="{{change.newSha}}_ghshowBtn" value="GHDiff"/><input type="button" id="{{change.newSha}}_showBtn" value="Diff"/>
			</th>
			<th style="text-align:left;">&nbsp;
				{% if change.oldFileName == change.newFileName %}
						{{change.oldFileName}}
				{% else %}
					{{change.oldFileName}} -> {{change.newFileName}}
				{% endif %}
			</th>
		</tr>
		<tr>
			<td colspan="2">
				<div id="{{change.newSha}}_diff" style="display:none;background-color:#EEEEEE;overflow: auto;">
					{{change.getPrettyDiff|highlight:'a.diff'|safe}}
				</div>
				<div id="{{change.newSha}}_ghdiff" style="display:none;background-color:#EEEEEE;overflow: auto;">
					{{change.getPrettyGHDiff|safe}}
				</div>
			</td>
		</tr>
	{% else %}
		{% if change.newFileName == None %}
			<tr><th style="text-align:left;">&nbsp;<span class="gd">deleted</span> {{change.oldFileName}}</th></tr>
		{% else %}
			<tr><th style="text-align:left;">&nbsp;<span class="gi">created</span> {{change.newFileName}}</th></tr>
		{% endif %}
	{% endif %}
</table>
{% endfor %}

{% endblock %}