{% load highlight %}
<style>
	{{'code'|highlightstyle}}
</style>
<table class="gridTable" width="100%">
	<tr>
		<th style="font-weight:normal;text-align:left;padding-left:10px;">
			{{gitFile.blob.path}} 
			<a href="{%url gitview.fileViews.rawContent%}?path={{repoPath}}&filePath={{gitFile.blob.path}}&branch={{branch}}&commitId={{commitId}}">Raw</a>
			<a href="{%url gitview.views.commits%}?path={{repoPath}}&filePath={{gitFile.blob.path}}&branch={{branch}}">History</a>
		</th>
	</tr>
	<tr>
		<td>
			<div class="code">
				{{gitFile.getContent|highlightTable:gitFile.blob.name|safe}}
			</div>
		</td>
	</tr>
</table>