{% load highlight %}
<style>
	{{'code'|highlightstyle}}
</style>
<table class="gridTable" width="100%">
	<tr>
		<th style="font-weight:normal;text-align:left;padding-left:10px;">
			{{fileName}} 
			<a href="{%url gitview.views.rawContent%}?path={{repoPath}}&sha={{sha}}&filePath={{fileName}}&branch={{branch}}&fileName={{fileName}}">Raw</a>
			<a href="{%url gitview.views.commits%}?path={{repoPath}}&filePath={{fileName}}&branch={{branch}}">History</a>
		</th>
	</tr>
	<tr>
		<td>
			<div class="code">
				{{content|highlightTable:fileName|safe}}
			</div>
		</td>
	</tr>
</table>