{% extends "layout.html" %}
{% load highlight %}

{% block repoHeader %}
    <b>Repository path:</b>{{ repoPath }} (
    <a href="{% url "gitview.views.commit" %}?path={{ repoPath }}&id={{ commitId }}&branch={{ branch }}">commit</a>)
{% endblock %}
{% block contentBlock %}
    <script>
        $(function () {
            $.get("{%url "gitview.fileViews.fileContent"%}", {
                path: "{{repoPath}}",
                commitId: "{{commitId}}",
                filePath: "{{fileName}}",
                branch: "{{branch}}"
            }, function (html) {
                $('#fileContent').html(html);
            });
        });
    </script>
    <div id="fileContent">

    </div>
{% endblock %}